<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Your Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <% if account_signed_in?%>
      <%= link_to 'Dashboard', dashboard_path, class:"nav-link" %>
      <% else%>
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to 'Properties', properties_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to 'Companies', companies_path, class:"nav-link" %>
      </li>         
      
      <% if account_signed_in? %>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_account_session_path,  method: :delete, class: "nav-link" %>
      </li>
      <% else%>
      <li class="nav-item">
        <%= link_to "Sign In", new_account_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", new_account_registration_path, class: "nav-link" %>
      </li>
       
      <% end%>
    </ul>
    <%# avatar %>
  </div>
</nav>